.navbar {
    background-color: #e9e9e9 !important; /* Color de fondo personalizado con !important */
    box-shadow: 0px 4px 12px rgba(160, 0, 0, 0.1); /* Sombra suave */
    padding: 10px 20px;
    border-bottom: 1px solid #e7e7e7 !important; /* Línea opcional para dar mejor contraste */
}

.navbar-brand img {
    height: 37px;
    margin-left: 50px;
}


.navbar-nav .nav-link {
    color: #333;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.navbar-nav .nav-link img {
    border-radius: 50%; 
}

.navbar-nav .nav-link .text-muted {
    font-size: 0.85rem; 
    color: #6c757d; 
    margin-right: 130px;
}

.navbar-nav .nav-link .font-weight-bold {
    font-weight: bold;
    color: #333;
}

.navbar-nav .nav-item .dropdown-toggle::after {
    display: none; 
}

.dropdown-menu {
    min-width: 150px;
}

.dropdown-menu .dropdown-item {
    font-size: 0.9rem;
}


/************CSS MENU LATERAL*******************/

.sidebar {
    width: 180px;
    background-color: #3F51B5; /* Color de fondo */
    height: 100vh;
    position: fixed;
    left: 0; /* Asegura que el sidebar empieza desde el borde izquierdo */
    top: 77px; /* Asegura que el sidebar empieza desde el borde superior */
    z-index: 500; /* Asegura que el sidebar se mantiene encima de otros contenidos */
    transition: width 0.3s, background-color 0.3s;
    overflow: hidden;
    box-shadow: 2px 0 5px rgba(0,0,0,0.3); /* Sombra para el menú */
}
.sidebar-header {
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between; /* Espacio entre el botón y el título */
    align-items: center;
}

.toggle-btn {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    display: block; /* Asegura que el botón es un bloque para centrarlo */
    width: 100%; /* Hace que el botón ocupe todo el ancho del menú */
    text-align: center; /* Centra el icono en el botón */
}

.menu-lateral {
    position: fixed;
    width: 250px; 
    height: 100vh;
    left: 0;
    top: 0;
    background-color: #3F51B5;
    z-index: 1000; 
}

.menu-items {
    color: white !important;
    list-style: none;
    padding: 0;
}

.menu-items li {
    padding: 15px;
    transition: background-color 0.3s; /* Transición para hover */
}

.menu-items li:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Efecto hover */
}

.menu-items li a {
    color: white !important;
    text-decoration: none;
    display: flex; /* Flex para íconos y texto */
    align-items: center;
    font-size: 20px;
    font-size: 18px;
}

.menu-items li .icon {
    font-size: 15px;
    margin-right: 10px; /* Espacio entre ícono y texto */
}

.sidebar.collapsed {
    width: 55px; /* Ancho colapsado */
}

.sidebar.collapsed .menu-items li a {
    justify-content: center; /* Centra los íconos en los elementos del menú */
}


.sidebar.collapsed .menu-items li a .icon {
    display: block; /* Asegura que los íconos sean visibles y centrados */
}

.sidebar.collapsed .menu-items li a .text {
    display: none; /* Oculta solo el texto cuando el menú esté colapsado */
}

.dashboard-content {
    margin-left: 250px; /* Espacio para el menú */
    transition: margin-left 0.3s; /* Transición suave para el contenido */
}

/* Ajuste cuando el menú está colapsado */
.sidebar.collapsed + .dashboard-content {
    margin-left: 80px; /* Ajusta el margen cuando el menú está colapsado */
}